/* Base Styles*/

body {
  color: rgba(255, 255, 255, 1);
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(black, transparent 5%),
              linear-gradient(0deg, black, transparent 60%),
              white url('../images/back2.jpg') no-repeat center;
  background-size: cover;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 0 auto;

}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  margin: auto
  
}
h3 {
  font-size: 1.875rem; /* 30px/16px  */

}

#description {
	margin: 2% 10%;
	font-size: 1.25em;
	line-height: 1.5em;
	}

nav {
  padding: 10px 0;
  margin: 40px 50px 0 0;
}

nav li {
  list-style: none;
  display: inline-block;
  float: right;

 
}

nav a {
  padding: 15px 10px;

}

#line {
	margin: 0 30%;
	border-top: 2px solid #dfe2e6;
}

/* Links */

a:link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:visited {
  color: rgba(255, 255, 255, 1);
}

a:hover {
  color: rgba(255, 89, 30, .8);
}

/*Postioning */

.photo {
	display: block;
	max-width: 300px;
	margin: 70px auto 50px;
	border-radius: 150px;
	
}

#title {
	text-align: center;
}


#contact, #footer {
	text-align: right;
	margin: 40px 50px 0 0;
	line-height: 1.5em;
}

#contact-info {
	list-style: none;
}

#menu {
	display: none;
}

#blurb {
	line-height: 1.5em;
	margin: 5% 20% 5% 20%;
	text-align: justify;
	text-transform: none;
	}



/*Media Queries*/

@media screen and (max-width: 768px) {

	h1 {  

  		font-size: 3.75rem; /* 60px/16px  */
  		margin: 10% 3% 7% 3%;
  		
	}

	h3 {
		margin: 15% 0% 0% 4%;
  		font-size: .9375rem; /* 15px/16px  */
	}

	

	#line {
		margin: 7% 7%;

	}

	#contact, #footer {
		text-align: center;
		line-height: 1.5em;
	}

	#contactdetails, #footer {
		padding: 0 0 0 40px;
		
	}

	#nav.js {
		display: none;

	}

	#menu {
		display: block;
		margin:  0 0 0 5%;

	}

	#nav {
		font-size: 1.2rem;
		float: right;
	}

	#blurb {
		text-align: left;
		font-size: .75em;

	}

